* {
    padding: 0;
    margin: 0;
    font-family: 'DM Sans';
}

/* side_bar */
.side_section {
    background: linear-gradient(162deg, #301F81 0%, #0F0441 100%);

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container.px-0 {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}

.side_bar_heading {
    padding: 25px 38px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.17);
}

.main_page {
    display: flex;
}

.side_bar_heading h1 {
    font-size: 23px;
    font-weight: 700;
    color: #FFFFFF;
    font-family: 'Poppins';
}

.side_bar_heading h3 {
    font-size: 23px;
    font-weight: 300;
    color: #FFFFFF;
    font-family: 'Poppins';
}

.side_bar_list {
    padding: 0 25px 0;
    color: rgba(255, 255, 255, 0.70);
    padding-top: 30px;
    flex: 1;
}

.side_bar_list ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.side_bar_list ul li:hover {
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.13);
    color: #FFFFFF;
}

.side_bar_list ul li:hover a {
    color: #FFFFFF;
}

.side_bar_list ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.70);
}

.side_bar_list ul li i {
    display: flex;
    gap: 7px;
    align-items: center;
}

.side_bar_list li {
    padding: 17px;
}

.powered_by {
    display: flex;
    align-items: center;
    gap: 7px;
    padding: 20px 25px;
    border-top: 1px solid rgba(255, 255, 255, 0.17);
}

.powered_by p {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 500;
    margin: 0;
}

/* page_content */
.main_page_content {
    padding: 0 20px;
    flex: 1;
}
.main_page_section{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.page_content {
    display: flex;
    justify-content: space-between;
    padding: 29px 6px;
}

.page_content_heading {
    display: inline-flex;
    flex-direction: column;
    gap: 5px;
}

.page_content_heading h5 {
    font-size: 14px;
    font-weight: 500;
    color: var(--secondary-grey-700, #707EAE);
}

.page_content_heading h1 {
    font-size: 34px;
    font-weight: 700;
    color: #2B3674;
}

.search_section {
    border-radius: 30px;
    background: var(--secondary-primary-white, #FFF);
    box-shadow: 14px 17px 40px 4px rgba(112, 144, 176, 0.08);
    display: flex;
    align-items: center;
    padding: 0 11px;
    gap: 9px;
    height: 68px;
}
#searchInput:focus {
    border: 1px solid #4318FF;
    outline: 1px solid #4318FF;
  }

input {
    border: none;
    background-color: #F4F7FE;
    padding: 12px 15px;
    border-radius: 50px;
}

.fa-regular.fa-bell {
    color: #A3AED0;
}

/*employee_list_section*/
.page_content_details {
    border-radius: 20px;
    background: var(--secondary-primary-white, #FFF);
    padding: 0 20px 15px;
}

.page_content_details h3 {
    color: #2B3674;
    font-size: 24px;
    font-weight: 700;
}

.page_content_details_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 20px 0;
}

.page_content_details_header span {
    flex: 1;
}

.form-select_ {
    padding: 8px 15px;
    border-radius: 8px;
    border: 1px solid #DDD;
    background: #FFF;
}

.btn_filled{
    background-color: #4318FF;
    border: none;
    color: #FFF;
    border-radius: 16px;
    padding: 15px 20px;
    position: relative;
}

.menu_form-select {
    border: none;
    background-color: #fff;
    color: #8B95B7;
    font-size: 14px;
    font-weight: 500;
}

.page_content_section_bar {
    padding: 5px 0;
}

.container {
    max-width: inherit;
    padding: 0;
}

.side_bar_list ul {
    padding-left: 0;
}

.table_heading th {
    border-bottom: 1px solid #D3D8E2;
}

.table_text {
    font-size: 14px;
    font-weight: 700;
    color: #2B3674;
    position: relative;
}

.page_content_section_table {
    display: grid;
}

.three_dot_list{
    border-radius: 10px;
    background: var(--secondary-grey-300, #F4F7FE);
    border: none;
    padding: 5px 9px;

}
.table_text td {
    padding: 20px 0;
}
.table_text tr{
    border-bottom: 1px solid #D3D8E2;
}
.table_text img {
    margin-right: 12px;
}
.table_text :last-of-type{
    border-bottom: none;
}

/* pagination_section */
.pagination {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    border-radius: 8px;
}
.pagination a {
    text-decoration: none;
    padding: 8px 16px;
    background-color: #fff;
    border-radius: 8px;
    color: black;
}
.pagination button{
    text-decoration: none;
    padding: 8px 16px;
    background-color: #fff;
    border-radius: 8px;
    color: black;
    border: none;
}
.pagination a:hover {
    background-color: #4318FF;
    color: #FFFFFF;
}
.pagination button:hover{
    background-color: #4318FF;
    color: #FFFFFF;
}
.page-link {
    border-radius: 8px;
}
/* footer */
.powered_by_section {
    display: flex;
    align-items: center;
    gap: 7px;
    padding: 27px 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.17);
    justify-content: space-between;
}
.powered_by_section h6{
    font-size: 14px;
    font-weight: 500;
    color: #707EAE;
    margin: 0;
}
.footer_text{
    flex: 1;
    margin: 0;
}
/* add_employee */
.add_employee{
    display: none;
    position: absolute;
    top: 100px;
    left: 490px;
    z-index: 4;
    overflow-y:scroll ;
    height: 85vh;
}
.overlay{
    display: none;
    background: rgba(5, 3, 16, 0.80);
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1;
}
.fa-solid.fa-upload{
   color: #4318FF;
}
.three_dot_list::after{
    display: none;
}
label::after{
    content: "*";
    color: red;
}
.upload::after{
    display: none;
}
.col-md-5.left-content.py-3 {
    background: #FFF;
    width: 100%;
}
.heading {
    color: #2B3674;
    font-size: 24px;
    font-weight: 700;
}
.heading.my-3::after{
    display: none;
}
.upload.card.align-items-center.py-4{
    border: 1px dashed #B2BAD0;
    background: var(--secondary-grey-100, #FAFCFE);
    gap: 2px;
    text-align: center;
}
.image_upload{
    padding: 6px 35px;
  color: #fff;
  background: #4318FF;
  border-radius: 15px;
}
.image_upload::after{
    display: none;
}
.upload.card.align-items-center.py-4 img{
    width: 110px;
}
label{
    font-size: 13px;
    font-weight: 500;
}
#placeholder{
    color:#083cd8 ;
}
span{
    font-size: 12px;
    font-weight: 500;
    color: #949DB9;
}
p{
    font-size: 12px;
    font-weight: 500;
}
.form-control.py-2.rounded-4:focus{
    border-radius: 16px;
    border: 1px solid #4318FF;
    box-shadow: none;
}
.form-group.form-select.rounded-4.py-2:focus{
    border-radius: 16px;
    border: 1px solid #4318FF; 
    box-shadow: none;
}
.form-label{
    color: #2B3674;
    font-size: 14px;
    font-weight: 500;
}
#inlineRadio:focus:focus-visible{
    box-shadow: none;
    border-color: #A1A9C2;
}

.form-group.form-select.rounded-4.py-2{
    color: #949DB9;
}
.form-check-label{
    color:#2B3674;
 }
 #dob{
    color: #949DB9;
    font-size: 14px;
    font-weight: 400;
}
#email{
    font-size: 14px;
    font-weight: 400;
}
#phone{
    font-size: 14px;
    font-weight: 400;
}
#address{
    font-size: 14px;
    font-weight: 400;
}
.form-control.py-2{
    font-size: 14px;
    font-weight: 400;
}
.form-control.py-2::placeholder{
    color: #949DB9;
    font-size: 14px;
    font-weight: 500;
}
.form-label.form::after{
    display: none;
}
.form-group.form-select {
   
    font-size: 14px;
    font-weight: 400;
}
/* .form-check-input_form:checked {
    background-color: #4318FF;
    border-radius: solid 2px #4318FF;
    box-shadow: none;
} */
#gender:checked {
    background-color: #4318FF;
    border:2px solid #4318FF;
    box-shadow: none;
}
.form-check-label::after{
    display: none;
}
.radio_section{
    display: flex;
}
/* common_css */
.btn_action{
    font-size: 15px;
    font-weight: 700;
    border: none;
    padding: 11px 26px;
    border-radius: 14px;
}
/* employee_action_btn */
.employee_action_btn{
    display: flex;
    flex-direction: column;
    width: 150px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    right: 10px;
    top: 60px;
    border-radius: 14px;
    border: 0.5px solid #D3D8E2;
    background: #FFF;
    box-shadow: 0px 1px 4px 0px rgba(16, 16, 49, 0.12);
    z-index: 1;
    padding: 11px 4px;
    display: none;
}
.employee_action_btn a{
    text-decoration: none;
}
 
.employee_btn{
    padding: 9px 14px;
    border: none;
    background-color: unset;
    display: flex;
    align-items: center;
    gap: 9px;
    font-size: 14px;
    font-weight: 700;
    color: #2B3674;
}
.employee_btn i{
    color: #8B95B7;
}
.edit_btn{
    padding: 9px 76px 9px 15px;
}
.delete_btn{
    padding: 9px 60px 9px 15px;
}
/* form_colse_btn */
.employee_form_heading{
    display: flex;
    justify-content: space-between;
}
.close_btn{
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    background: var(--secondary-grey-300, #F4F7FE);
    color: #4318FF;
}
/* form_btn */
.btn.btn-light{
    font-size: 15px;
    font-weight: 700;
    background-color: #FAF9FF;
}
.btn.btn-primary.left{
    font-size: 15px;
    font-weight: 700;
    background-color: #4318FF;
    padding: 10px 13px;
}
/* edit_form_employee */
.edit_employee{
    display: none;
    position: absolute;
    top: 100px;
    left: 490px;
    z-index: 4;
    overflow-y:scroll ;
    height: 85vh;
}
.image_action_btn {
    padding: 8px 23px;
    border: none;
    background-color: #EAE6FB;
    color: #4318FF;
    border-radius: 16px;
    font-size: 14px;
    font-weight: 700;
}
/* delete_btn_form */
.delete_btn_form{
    width: 665px;
    padding: 28px 20px; 
    border-radius: 22px;
    background: #FFF;
    position: absolute;
    top: 272px;
    left: 406px;
    right: 0;
    z-index: 1;
    display: none;
}
.delete_employee_btn{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.col-md-6.rounded-4{
    width: 100%;
}
.delete_form_action {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.delete_form_action h3{
    color: #2B3674;
    font-size: 24px;
    font-weight: 700;
}
.delete_form_action p{
    color: #2B3674;
    font-size: 18px;
    font-weight: 500;
}
.delete_close_btn{
    background-color: #FAF9FF;
    color: #2B3674;
}
.delete_action_btn{
    background-color: #EB506C;
    color: #FFFFFF;
}
option #selected{
    color: black;
  }
  /* error_message */
  .error{
    color: red;
  }
  .img_table {
  width: 40px
}
.hidden{
    visibility: hidden;
}
/* _____employee_added_pop_____ */
.employee_added_pop{
    width: 561px;
    padding: 28px 20px; 
    border-radius: 22px;
  position: absolute;
    top: 272px;
    left: 481px;
    right: 0;
    z-index: 1;
    background-color:#fff ;
    display: none;
    
}
.popup_content{
    display: flex;
    flex-direction: column;
  align-items: center;
  gap: 30px;
}
.popup_content h2{
    font-size: 27px;
    font-weight: 700;
    color: #2B3674;
}
.popup_content h6{
    font-size: 15px;
    font-weight: 500;
    color: green;
}
.close_ok_btn{
    padding: 6px 20px;
  border: none;
  border-radius: 10px;
  background-color: #EAE6FB;
    color: #4318FF;
    font-size: 14px;
    font-weight: 600;
}
/* employee-delete-popup-modal */
.employee_delete_pop{
    width: 561px;
    padding: 28px 20px; 
    border-radius: 22px;
  position: absolute;
    top: 272px;
    left: 481px;
    right: 0;
    z-index: 1;
    background-color:#fff ;
    display: none;
    
}
.popup_content.deleted h6{
    color: red;
}
/* employee-edited-popup-modal */
.employee_edited_pop{
    width: 561px;
    padding: 28px 20px; 
    border-radius: 22px;
  position: absolute;
    top: 272px;
    left: 481px;
    right: 0;
    z-index: 1;
    background-color:#fff ;
    display: none;
    
}
.image_action_btn::after{
     display: none;
}
.col-md-12 img{
    width: 100px;
}

.active{
 background-color: #4318FF!important; 
 color: #fff !important;
}

